body {
  max-width: 30rem;
  margin: auto;
  padding: 2em;
  line-height: 1.6em;
  background-color: rgb(245, 233, 208);
  font-family: 'Zilla Slab', serif;
  font-size: 20px;
}

#header {
  color: rgb(99, 106, 90);
  text-align: center;
  width: 200px;
  height: 100px;
  margin: auto;
  padding-top: 2rem;
  font-size: 48px;
  font-family: 'Varela Round', sans-serif;
}

.todo-form,
.todo-container {
  width: 30rem;
  margin: auto;
}

/* the input of the todo list*/
.todo-form {
  display: grid;
  grid-template-columns: auto 2rem;
}

/* the actual list */
.todo-list {
  list-style: none;
  width: 25rem;
}

/* the contents of the task */
.todo {
  display: grid;
  grid-template-columns: 2.5rem 20.5rem 3.5rem 3.5rem;
  background-color: white;
  margin-top: 1rem;
  border-radius: 1rem;
}

/* the text of the task */
.todo-item {
  position: relative;
  padding: 1rem;
  overflow-wrap: break-word;
}

/* complete button */
.complete-btn {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 2rem;
  position: relative;
  outline: none;
  margin: auto;
  margin-left: 12px;
}

.complete-btn:hover {
  background-color: #636a5a;
  transition: 0.4s;
}

.complete-btn:checked {
  background-color: #a6b890;
  transition: 0.5s;
}

.delete-btn-checked {
  padding-left: 4rem;
}

img {
  width: 2rem;
  pointer-events: none;
}
.delete-img {
  pointer-events: all;
}

input {
  font-size: 20px;
  border: none;
  border-radius: 0.7rem;
  padding-left: 1rem;
  height: 2.5rem;
  font-family: 'Zilla Slab', sans-serif;
}

input:focus {
  outline: none;
}

.edit-text {
  height: 3.5rem;
  position: relative;
  padding: 1rem;
  overflow-wrap: break-word;
  margin: 0.25rem 0;
  color: #6f8612;
}

button {
  border: none;
  background-color: transparent;
}

/*error message*/
.error-msg {
  position: relative;
}
.error-msg-text {
  position: absolute;
  width: 12rem;
  left: 11rem;
  top: -2rem;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  color: #636a5a;
  animation: fadeIn linear 0.3s;
}

/*completed task gray out*/
.gray-out {
  animation: fadeOut linear 0.5s;
  opacity: 30%;
}

.delete-completed {
  padding-top: 2rem;
  width: 12rem;
  margin: auto;
  align-items: center;
}
.delete-completed-btn {
  width: 12rem;
  color: white;
  font-size: 15px;
  font-family: 'Varela Round', sans-serif;
  border: #636a5a solid;
  border-radius: 1rem;
  background-color: #636a5a;
  padding: 0.2rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
